<nav>
  <div class="right">
  </div>

  <div id="logo">
    <a href="/"><img alt="Logo" src="images/logo.png"></a>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <ul id="nav" >
    <li>
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "Polish", :locale=>'pl' %>
        <%= link_to "English", :locale=>'en' %>
      <% else %>
        <%= link_to "Polski", :locale=>'pl' %>
        <%= link_to "Angielski", :locale=>'en' %>
      <% end %>
    </li>
  </ul>
</nav>
